[submodule "RecModel"]
	path = RecModel
	url = https://github.com/YLTsai0609/RecModel.git
[submodule "Recommender-System"]
	path = Recommender-System
	url = https://github.com/SSSxCCC/Recommender-System.git
[submodule "pyFM"]
	path = pyFM
	url = https://github.com/coreylynch/pyFM.git
[submodule "tffm"]
	path = tffm
	url = https://github.com/geffy/tffm.git
[submodule "tensor-fm"]
	path = tensor-fm
	url = https://github.com/gmodena/tensor-fm
